.navegador nav, footer {
	background-color: purple;
	/* background-image: linear-gradient(rgb(237, 199, 247), rgb(255, 255, 255)); */
} 

#menu{
	float: right;
	margin-top: 5px;
}

body {
	background-color: #f2fdf5;
}

/*Faz auteração da cor quando o mouse passa nos links dentro do menu*/
#menu a:hover{
	background-color: rgba(245, 187, 235, 0.4);
	color:#0e1a12;	
}

/* Tirando os espaçamentos padrões de toda 
a pagina com o seletor *  */
*{
	margin: 0;
	padding: 0;	
	font-family: Helvetica, Arial;

}

nav{
	min-height:20px;
	margin-bottom: 0;	
}

main{
	margin: 140px;
}

section{
	background-color: #def1e4;
}

#servicos{
	margin-bottom: 30px;
}

footer p{
	color:white;
	
}